@media (orientation: landscape) {
    .barrainferior {
        flex-direction: row;
    }
    .novoimc,
    .resultado {
        width: 48%;
    }
    .lista {
        margin-bottom: 4.5rem;
    }
    .formulario {
        width: 50%;
    }
    .entrada {
        justify-content: center;
    }
    .entrada label {
        width: 10%;
    }
}

@media (orientation: portrait) {
    .barrainferior {
        flex-direction: column;
    }
    .novoimc,
    .resultado {
        width: 95%;
    }
    .resultado {
        padding-top: 0.5rem;
    }
    .lista {
        margin-bottom: 7rem;
    }
}