* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 0;
}

body {
    display: flex;
    width: 100%;
    background-color: #d3d3d3;
}

header {
    height: 4rem;
    color: #fff;
    background: #1d3a4e;
    border: thin solid #0c293d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

h1,
h2 {
    font-size: 1.3rem;
    text-align: center;
}

header span,
header a {
    font-size: 0.5rem;
    padding-top: 0.2rem;
}

header a {
    color: #fff;
}

button {
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 0.2rem;
    height: 2.5rem;
}

.pagina {
    padding: 4.5rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    width: 100%;
}

.listavazia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.listavazia * {
    padding-bottom: 1rem;
}

.listavazia img {
    max-width: 90%;
    max-height: 15rem;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.listaheader,
.listaitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.listaheader {
    border-bottom: thin solid #6e8e9e;
    margin-bottom: 0.5rem;
}

.listaheader *,
.listaitem * {
    flex: 1;
    text-align: center;
}

.listaitem {
    margin-bottom: 0.2rem;
    height: 2.5rem;
}

.barrainferior {
    color: #fff;
    background: #1d3a4e;
    border: thin solid #0c293d;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.novoimc,
.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultado progress {
    width: 100%;
}

.graduacao {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.graduacao>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 14.3%;
    height: 1.5rem;
}

.graduacao>div>span {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario .botoes {
    margin-top: 3rem;
}

.campo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.campo input {
    text-align: center;
    font-size: 1.5rem;
    width: 70%;
}

.campo label {
    margin-right: 1rem;
}

.dados {
    justify-content: center;
}

.imc {
    font-size: 1.5rem;
}

.radio,
.opcaoradio {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.radio {
    justify-content: space-between;
}

.opcaoradio {
    justify-content: center;
}

.opcaoradio input {
    width: 1.5rem;
    height: 1.5rem;
}

.formulario .botoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.formulario .botoes * {
    font-size: 1.5rem;
    width: 45%;
    height: 2.5rem;
}

.modalbackgroud {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgb(29, 58, 78, 0.3);
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 15px;
    color: #fff;
    background: #1d3a4e;
    border: 0.3rem solid #3e5c6e;
    text-align: center;
}

.modal hr {
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal .botoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal .botoes button {
    width: 70%;
    height: 3rem;
}